__pycache__/
*.pyc
assets/images/**/*.webp
!assets/images/home-*.webp
assets/images/**/*.png
assets/images/**/*.jpg
assets/images/**/*.jpeg
assets/icons/*.png
assets/icons/*.ico
!assets/icons/favicon.ico
!assets/icons/apple-touch-icon.png
!assets/icons/*.svg
assets-b64/
